{{#if blogs.length}}

<div class="container">
  {{#each blogs}}
  <div class="row">
    <div class="col-md-12 mx-auto mt-4">
      <div class="card custom-card">
        <div class="card-body">
          <h3 class="card-title">{{title}}</h3>
          <h4 class="card-subtitle mb-2 text-muted">Posted by {{blog.user.name}} on {{format_date blog.date_created}}</h4>
          <p class="card-text">{{description}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{/if}}

<div class="new-post-btn">
  <button class="new-btn">+ New Post</button>
</div>