<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-4">
      <div class="card custom-card">
        <div class="card-body">
          <h3 class="card-title">Why MVC is so important</h3>
          <h4 class="card-subtitle mb-2 text-muted">Posted by Dylan on 11/27/23</h4>
          <p class="card-text">sdkfhsajkhflshfjshafdsahgljshgljshdgjlsdhgjsahdgjsahdgjhasdjghsdjghsjghsdghjsdahg djg;skdj;jga;kjg;dkfgj</p>
        </div>
      </div>
    </div>
  </div>
</div>
