body {
  background-color: rgb(123, 214, 123);
}


nav {
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  flex-wrap: wrap;
}

nav a {
  color: rgb(123, 214, 123);
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

nav a:hover {
  cursor: pointer;
  color: white;
}

.tech-blog-header {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 5px 20px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  width: 250px;
  background-color: rgb(123, 214, 123);
  box-shadow: 4px 3px 1px rgba(179, 176, 176, 0.7);
}

header {
  background-color: black;
  height: 130px;
}

.card-title {
  background-color: black;
  color: white;
  font-size: 24px;
  margin-bottom: 0;
}

.custom-card {
  border: none;
 
}

.card-body {
  background-color: rgb(123, 214, 123);
  border: black;
  border-style: solid;
  padding: 0;
}

.card-text {
  font-size: 20px;
}

.card-subtitle {
  text-align: end;
  background-color: black;
}

#email, #password, #email-signup, #password-signup {
  font-size: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.login-btn {
display: flex;
justify-content: center;
}

.btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: grey;
  color: white;
}

#sign-up-text {
  text-decoration: none;
  font-size: 20px;
}

.sign-up {
  text-decoration: none;
  font-size: 20px;
}

.new-post-btn{
  display: flex;
  justify-content: center;
}

.new-btn {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
}



